### 1- We can quickly identify the smallest or largest items in a list with the min() and max() functions. Find out how to use these function from the web and then use them to identify the maximum and minumum elements of the list [-3,-2,-1,0,1,2,3,4,5,6,7]

In [10]:
my_list = [-3,-2,-1,0,1,2,3,4,5,6,7]
print("Largest item in my_list is", max(my_list))
print("Smallest item in my_list is", min(my_list))

Largest item in my_list is 7
Smallest item in my_list is -3

###  2- Use min() and max() functions to identify the maximum and minumum elements of the tuple {-3,-2,-1,0,1,2,3,4,5,6,7}

In [11]:
my_tuple={-3,-2,-1,0,1,2,3,4,5,6,7}
print("Largest item in my_tuple is", max(my_tuple))
print("Smalles item in my_tuple is", min(my_tuple))

Largest item in my_tuple is 7
Smalles item in my_tuple is -3

### 3- Define variable my_list as [1,2,3,5,7,11]. Is my_list[3::-1] the same as my_list[3:0:-1]. Why or why not?

In [12]:
my_list=[1,2,3,5,7,11] 
print(my_list[3::-1]) 
print(my_list[3:0:-1]) 
"""When indexing a list with [start:end:stride] the end element 
is not included, however an omitted index is equivalent to 
the end of the list (positive stride) or the beginning of the 
list (negative stride)
"""

[5, 3, 2, 1]
[5, 3, 2]

'When indexing a list with [start:end:stride] the end element \nis not included, however an omitted index is equivalent to \nthe end of the list (positive stride) or the beginning of the \nlist (negative stride)\n'

### 4- We can use the "in" operator to test if a list contains a particular value. Look up how to use "in" operator on the web and determine if the following is in the lists [1,2,3,4], [0, 2, 3], and [-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10]
### - integer 1
### - string "10.0"
### - boolean True
### - boolean False

In [1]:
my_list=[1, 2, 3, 4]
easy_list=[0, 2, 3]
long_list=[-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10]

print("Is 1 in these lists")
print(1 in my_list);print(1 in easy_list);print(1 in long_list)

print("Is '10.0' in these lists")
print("10.0" in my_list);print("10.0" in easy_list);print("10.0" in long_list)

print("Is True in these lists")
print(True in my_list);print(True in easy_list);print(True in long_list)

print("Is False in these lists")
print(False in my_list);print(False in easy_list);print(False in long_list)

Is 1 in these lists
True
False
True
Is '10.0' in these lists
False
False
False
Is True in these lists
True
False
True
Is False in these lists
False
True
True

### 5- Write a small python code where you check if a number is negative, positive or zero and report solution by print.  Use if, elif, else

In [2]:
num = 8

if num < 0:
    print(num, "is negative")
elif num > 0:
    print(num, "is postive")
else:
    print('zero')

8 is postive

### 6- Use while loop to print integers between 5 and 12 excluding limits (i.e. 5 and 12)

In [3]:
t=6
while 5<t<12:
    print(t)
    t += 1

6
7
8
9
10
11

### 7- Using a "while" loop, write a short python script to compute n factorial = [n*(n-1)*(n-2)*...*2] where n=34

In [26]:
t=2
n_factorial=1
while t<=34:
    n_factorial=n_factorial*t
    t+=1

print(n_factorial)

295232799039604140847618609643520000000

### 8- Write the same script (i.e. calculating n factorail for n=34) using "for" loop and range function, range(). 
### - Search the web for range function and its usage
### - Construct for loops to print a variable in the range(7), range(1,7), range(1,7,2)
### - Construct the for loop with range function to calculate n factorial

In [27]:
for t in range(7):
    print(t)

0
1
2
3
4
5
6

In [28]:
for t in range(1,7):
    print(t)

1
2
3
4
5
6

In [29]:
for t in range(1,7,2):
    print(t)

1
3
5

In [12]:
n_factorial=1
for t in range(1,35):
    n_factorial=n_factorial*t
    
print(n_factorial)

295232799039604140847618609643520000000

### 9- Use the range() function to a populate list containing all even numbers between 1 and 26 including 26. Print the list

In [24]:
t=range(2,27,2)
t_list=list(t)
print(t_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]

### 10- Write a script that divides 100 by each value with all integers between 1 and 40 and print results

In [25]:
t=1
while t<=40:
    print(100/t)
    t+=1

100.0
50.0
33.333333333333336
25.0
20.0
16.666666666666668
14.285714285714286
12.5
11.11111111111111
10.0
9.090909090909092
8.333333333333334
7.6923076923076925
7.142857142857143
6.666666666666667
6.25
5.882352941176471
5.555555555555555
5.2631578947368425
5.0
4.761904761904762
4.545454545454546
4.3478260869565215
4.166666666666667
4.0
3.8461538461538463
3.7037037037037037
3.5714285714285716
3.4482758620689653
3.3333333333333335
3.225806451612903
3.125
3.0303030303030303
2.9411764705882355
2.857142857142857
2.7777777777777777
2.7027027027027026
2.6315789473684212
2.5641025641025643
2.5

### 11- Print prime numbers between 2 and 100 using conditionals and only while loop constructs in python

In [13]:
n=100
i = 2
while i<=n:
    prime=True
    j=2
    while 2<=j<i:
        if(i%j == 0):
            prime=False
            break
        j+=1
    if(prime==True):
        print(i)
    i+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### 12- Print prime numbers between 2 and 100 using conditionals and only for loops and range() function in python

In [20]:
n=100
for i in range(2, n+1):
    prime=True
    for j in range(2, i):
        if(i%j==0):
            prime=False
            break
    if(prime==True):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [17]:
print('An alternate solution')
n=100
for i in range(2, n+1):
    for j in range(2, i):
        if(i%j==0):
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### 13- Define a dictionary called colors where values Red Blue Green Purple Yellow White Magenta and Orange are represented by their inital letters as keys. Print the dictionary

In [33]:
colors = {
    'R': 'Red',
    'B': 'Blue',
    'G': 'Green',
    'P': 'Purple',
    'Y': 'Yellow',
    'W': 'White',
    'O': 'Orange',
}
print(colors)
len(colors)

{'W': 'White', 'P': 'Purple', 'Y': 'Yellow', 'R': 'Red', 'B': 'Blue', 'G': 'Green', 'O': 'Orange'}

7

### 14- Add Black to the colors dictionary with the same method as described before and print the

In [32]:
colors['B']='Black'
print(colors)
len(colors)

{'W': 'White', 'P': 'Purple', 'Y': 'Yellow', 'R': 'Red', 'B': 'Black', 'G': 'Green', 'O': 'Orange'}

7

### Could we able to add Black to the already existing list? Why the number of elements stayed the same?

### 15- Is there any difference between S1, S2, S3, S4 defined below? Print their lenghts (i.e. the number of characters for a string) with len() function

In [ ]:
S1='a string'
S2="a string"
S3="""a string"""
S4="""a string
"""
print(S1)
print(S2)
print(S3)
print(S4)

In [ ]:
print(len(S1))
print(len(S2))
print(len(S3))
print(len(S4))

### 16- On the web, search for sort and reverse methods for lists. Apply these methods to list [9.02,20.4,-4,67,2,34,34.1,0]
### - First, order the elements in the list from the smallest to the largest using sort methods
### - Second, using the reverse method to order the list from the largest to the smallest

In [46]:
my_list=[9.02,20.4,-4,67,2,34,34.1,0]
my_list.sort()
my_list

[-4, 0, 2, 9.02, 20.4, 34, 34.1, 67]

In [47]:
my_list.reverse()
my_list

[67, 34.1, 34, 20.4, 9.02, 2, 0, -4]

### 17- Apply only sort method list to [9.02,20.4,-4,67,2,34,34.1,0] to order the elements from the largest to the smallest. (Tip: sort method accepts a reverse key)

In [50]:
my_list=[9.02,20.4,-4,67,2,34,34.1,0]
print(my_list)
my_list.sort(reverse=True)
my_list

[9.02, 20.4, -4, 67, 2, 34, 34.1, 0]

[67, 34.1, 34, 20.4, 9.02, 2, 0, -4]

### 18-Can you apply the same sort and reverse methods to the tuple {9.02,20.4,-4,67,2,34,34.1,0}? Trying is the best way to answer!

In [61]:
my_tuple=9.02, 20.4, -4, 67, 2, 34, 34.1, 0,
print(my_tuple, type(my_tuple))

(9.02, 20.4, -4, 67, 2, 34, 34.1, 0) <class 'tuple'>

In [58]:
my_tuple.sort()

AttributeError: 'set' object has no attribute 'sort'

In [ ]:
print('Tuple type is unhashable (i.e. cannot be changed) so bas no sort or reverse methods since')
my_tuple.reverse()

### 19- Construct a for loop for a variable in a dictionary and print the variable inside the loop. What does this variable counts over? What is the order in printed values?

In [9]:
dictionary_01={'horse':1, 'dog':2, 'fish':3, 'bird':4, 'cat':5, 'monkey':6}
for i in dictionary_01:
    print(i)

print('If you use a for loop with a dictionary, the counter variable is set to each key and order is random')

monkey
dog
cat
fish
horse
bird
If you use a for loop with a dictionary, the counter variable is set to each key and order is random

### 20- You can loop over more than one counter variable in a single for loop. Search the web on how to do this. Now, loop over the elements of tuple (1,2,3,4) and lists ['a','b','c',999] and [2,4,16,256] simultaneously by zipping them (remeber the zip function!)

In [1]:
a = (1,2,3,4)
b = ['a','b','c',999]
c = [2,4,16,256,88]

for i,j,k in zip(a,b,c): 
    print(i,j,k)

1 a 2
2 b 4
3 c 16
4 999 256

### 21- To delete an element from dictionary 'del' is used. Search the internet to find the usage of 'del'. Delete the fish from the dictionary {'horse':1, 'dog':2, 'fish':3, 'bird':4, 'cat':5, 'monkey':6} and print the new dictionary

In [16]:
dictionary_01={'horse':1, 'dog':2, 'fish':3, 'bird':4, 'cat':5, 'monkey':6}

del dictionary_01['fish']
print(dictionary_01)

{'monkey': 6, 'dog': 2, 'cat': 5, 'horse': 1, 'bird': 4}

### 22- Search the internet for available methods of dictionaries. Then:
### - Copy the dictionary  {'horse':1, 'dog':2, 'fish':3, 'bird':4, 'cat':5, 'monkey':6} to another dictionary using copy method and print the result
### - Add {'eagle':7,'zebra':8} to the previous dictionary using update method and print the result
### - Empty the dictionary using clear method and print the result

In [18]:
animals={'horse':1, 'dog':2, 'fish':3, 'bird':4, 'cat':5, 'monkey':6}
animals_copy=animals.copy()
print(animals_copy)

{'monkey': 6, 'horse': 1, 'cat': 5, 'fish': 3, 'dog': 2, 'bird': 4}

In [19]:
animals_delta={'eagle':7,'zebra':8}
animals.update(animals_delta)
print(animals)

{'monkey': 6, 'dog': 2, 'cat': 5, 'fish': 3, 'eagle': 7, 'horse': 1, 'bird': 4, 'zebra': 8}

In [20]:
animals.clear()
print(animals)

{}

### 23- Write a python code that can convert between celsius & fahrenheit. Define the temperature as a string such as '102.4F' or '23C'. If the inital temperature is not properly defined print 'Error in entered temperature'. The conversion equation can be given as: C/5 = F-32/9. 
### Expected output should look like the following depending on your initial entry: 
### 60C is 140.0 in Fahrenheit
### 24F is -4.444 in Celsius

In [28]:
temp = '60C'
degree = float(temp[:-1])
i_convention = temp[-1]

if i_convention == "C":
  result = ((9 * degree) / 5) + 32
  o_convention = "Fahrenheit"
elif i_convention == "F":
  result = (degree - 32) * 5 / 9
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature", temp, "is", result, "in", o_convention,)

The temperature 60C is 140.0 in Fahrenheit

### 24- Write a python code to print out the numbers in Fibonacci series between 0 to 100.

In [31]:
i,j=0,1

while j<=100:
    print(j)
    i,j = j,i+j

1
1
2
3
5
8
13
21
34
55
89