# Practicing Python Basics
-----

## Math

### Exercise: Integers and Floats

When is there a difference between using an integer value (no decimal) and the decimal equivalent of a number?  For example 3 and 3.0.  Play around with some common math operations to test it out.

#### Answer:

Some examples follow.  If you use a decimal number (float) in an operation, the answer will be a float.  If you use only integers, sometimes you get integers and sometimes you get a float.

In [1]:
## Note: this will give different answers in Python 2.x and 3.x
3/10

0.3

In [2]:
3.0/10

0.3

In [3]:
3/10.0

0.3

In [4]:
2*3

6

In [5]:
2.0*3

6.0

In [6]:
2-3

-1

In [7]:
2.0-3

-1.0

In [8]:
2 % 3

2

### Exercise: Learning about numerical weirdness

Add 0.1+0.2.  What's going on?

See http://introtopython.org/var_string_num.html#Floating-Point-numbers for more information.

In [9]:
0.1+0.2

0.30000000000000004

## Variables

### Exercise: Variable relationships

If you run the code below, what will the output be?

a=1
b=a+2
a=2
print(b)

#### Answer:

In [10]:
a=1
b=a+2
a=2
print(b)

3

`b` gets the value of `a` at the time the assignment is made.  The two variables are not linked after that.

### Exercise: Assigning multiple variables at once

We can assign values to multiple variables at once.  What will the output of the code below be?

first, second = 'Grace', 'Hopper'
third, fourth = second, first
print(third, fourth)

#### Answer:

In [11]:
first, second = 'Grace', 'Hopper'
third, fourth = second, first
print(third, fourth)

Hopper Grace

If you don't know who Grace Hopper is, [take a look](https://en.wikipedia.org/wiki/Grace_Hopper).

### Exercise: Swapping values

Create a variable named dog with the value "Kitty".  Create a variable named cat with the value "Spot".  Then swap the values of the two variables.

#### Answer:

You can use the syntax in the example above to make the swap in one line, or you can create a third variable to help you out.

In [12]:
# option 1
dog = "Kitty"
cat = "Spot"

dog, cat = cat, dog

print(dog)
print(cat)

Spot
Kitty

In [13]:
# option 2
dog = "Kitty"
cat = "Spot"

swapholder = dog
dog = cat
cat = swapholder

print(dog)
print(cat)

Spot
Kitty

## Basic String Operations

### Exercise: String concatenation

Store your first name in a variable.  Store your last name in a different variable.  Combine (concatenate) them to make a single string.

#### Answer:

In [14]:
firstname = "Mary"
lastname = "Jane"
firstname+" "+lastname

'Mary Jane'

### Exercise: String slices

You can index and slice strings like lists.  Print the first and last letters of your first name variable from above.

#### Answer:

In [15]:
print(firstname[0])
print(firstname[-1])

M
y

## Lists

### Exercise: Make a list

Make a list called words that has 10 words of your choice in it.

#### Answer:

In [16]:
words = ["Grace","Hopper","and","Ada","Lovelace","were","pioneering","inventors","in","computing"]

### Exercise: Select list elements

Print the first and last elements of the list.  Then the first two elements as a subset of the list.

#### Answer:

In [17]:
print(words[0])
print(words[-1])
print(words[0:2]) ## remember: the last index in a slice is exclusive

Grace
computing
['Grace', 'Hopper']

### Exercise: Append to your list

Add two words to the beginning of your list.  Print it.

#### Answer:

In [18]:
words = ["fun","fact"]+words
print(words)

['fun', 'fact', 'Grace', 'Hopper', 'and', 'Ada', 'Lovelace', 'were', 'pioneering', 'inventors', 'in', 'computing']

### Exercise: Now remove the words you just added to your list

#### Answer:

There are a few ways you could do this.

In [19]:
words = words[2:]
print(words)

['Grace', 'Hopper', 'and', 'Ada', 'Lovelace', 'were', 'pioneering', 'inventors', 'in', 'computing']

# alternative
del words[0:2]
print(words)

### Challenging Exercise: Slicing with Steps

Print every other word in your `words` list starting with the second one.

#### Answer:

In [20]:
print(words[1::2])

['Hopper', 'Ada', 'were', 'inventors', 'computing']

### Challenging Exercise: Reverse your list

Print your list in reverse order without changing the order of the list permanently.

#### Answer:

In [21]:
print(words[::-1])

['computing', 'in', 'inventors', 'pioneering', 'were', 'Lovelace', 'Ada', 'and', 'Hopper', 'Grace']

### Exercise: Nested lists

You can have nested lists.  Create a list that has two other lists as its elements.  Save it in a variable called `nested_list`.

#### Answer:

In [22]:
nested_list = [['a','b','c'],[1,2,3]]
print(nested_list)

[['a', 'b', 'c'], [1, 2, 3]]

### Exercise: Indexing Nested Lists

Print the first list from `nested_list`.  Then print the second element of the first list.

#### Answer:

When we select the first element of `nested_list` we get a list back.  We can then index in that list with another set of [].

In [23]:
print(nested_list[0])
print(nested_list[0][1])

['a', 'b', 'c']
b

# Fun with Jupyter Notebooks

-----

Use [Markdown](https://en.wikipedia.org/wiki/Markdown) to format your notebook cells.  See this [Markdown Cheat Sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) for common commands.  Or Daring Fireball's [Markdown tutorial/reference](https://daringfireball.net/projects/markdown/syntax).

### Exercise: Insert a new cell below this one with raw formatting for plain text

#### Answer:

Insert a new cell using the Insert menu above, or press Esc (escape) to enter command mode, then a (for above) or b (for below).  To exit command mode to type, press enter/return.  If you're still in command mode, you can set the cell for raw formatting by pressing r.  If you're not in command mode, you can choose raw formatting from the pull down menu in the toolbar or from Cell > Cell Type.  An example raw text cell is below.

This is an example raw text cell

Why would you create a raw cell?  You wouldn't usually use one to type text as we've done here.  If you wanted to preserve a code or output cell though, you might convert it to raw text.  That way it won't get executed, but you can keep it in your notebook for reference later.

### Exercise: Make a level 3 header

Make a markdown cell that is a level 3 header

#### Answer: 

In the menu above, choose Markdown from the pull down menu, or Cell > Cell Type > Markdown.  Start a line with 3 hash marks `###` followed by a space and then the header you want.  For example:

```
### My level 3 header
```

Make sure to hit shift-enter to evaluate the cell like a code cell to get the Markdown styling to render.

If you double click in the markdown cells in this notebook, you'll be able to see the markdown syntax used to create them.

You can also enter markdown mode for a cell by typing Esc (escape) and m.

### Exercise: Check out the Kernel menu

The Kernel menu above is how you control Python within a notebook.  If you get to a bad place in one of your notebooks and want to wipe everything clean, restarting your kernel is the way to do that.  You also have options to restart and clear output cells and restart and re-run everything.  

Try restarting the kernel and rerun all cells in your notebook.

#### Answer:

There's really no answer here.  If you left your code in a good state, everything should have re-executed and now look like it did before.

### Exercise: Markdown practice

Make a markdown cell with some bold text.  Make a link to an external website.  You may need to reference the Markdown Cheat Sheet linked above.  If you're feeling adventurous, figure out how to make some text red (hint: google the answer; you'll need to use html).

#### Answer:

Example cell below.  Double click it to see the Markdown formatting used.

**This text is bold.** This has a [link](http://google.com) to a website.  <span style="color:red">This text is red.</span>

### Exercise: Notebook Magic

There are so-called magic commands you can use in notebooks.  They start with a % and enable special features.  Look up the `%who` command, see what it does, and try it out.

#### Answer:

In [24]:
%who

a	 b	 cat	 dog	 first	 firstname	 fourth	 lastname	 nested_list
second	 swapholder	 third	 words

In [25]:
%who list

nested_list	 words

## Want to learn more about Jupyter notebooks?

There are several links on the [resources page](https://github.com/nuitrcs/pythonworkshops/blob/master/resources.md) of the GitHub repository, but you may want to start with the [Jupyter Notebook Users Manual](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) from Bryn Mawr.